{
  "printWidth": 80,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^@starter/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
